.topheader{
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    position: fixed;
    background-color: var(--theme-color);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}
.topnav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
}

.logo{
    display: flex;
}

.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    padding: 0 15px;
}

.menu a{
    display: block;
    padding:  0 8px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--text-color);
    font-size: 15px;
    font-weight: 700;
    line-height: 38px;
    border-radius: 15px;
    position: relative;
}

.menu a:hover{
    background-color: var(--secundary-color);
    text-decoration: none;
    color: var(--text-color-inverse);
    border: 2px solid var(--secundary-color);
}

